<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        lang="">
<head>
    <title>Books</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Books</h1>
<div th:include="navbar/navbar :: navbar"></div>
<table>
    <thead>
    <tr>
        <th>Author</th>
        <th>Name</th>
        <th>Price</th>
        <th>Genre</th>
        <th>Available</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td>
            <span th:text="${book.author.firstName}"></span>
            <span th:text="${book.author.lastName}"></span>
        </td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.price}"></td>
        <td th:text="${book.genre}"></td>
        <td th:text="${book.available}"></td>
        <td th:text="${book.description}"></td>
        <td>
            <form th:action="@{/books/delete}" method="post" style="display: inline;">
                <input type="hidden" name="id" th:value="${book.id}"/>
                <button type="submit" onclick="return confirm('Are you sure?')" class="btn btn-danger">Delete</button>
            </form>
            <form th:action="@{/books/update}" method="get" style="display: inline;">
                <input type="hidden" name="bookId" th:value="${book.id}"/>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<button onclick="redirectToCreateBookPage()" class="btn btn-success">Create New Book</button>
</body>
<script>
    function redirectToCreateBookPage() {
        window.location.href = "books/add";
    }
</script>
</html>