<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Create New Book</title>
</head>
<body>
<form method="post" th:action="@{/books}" th:object="${book}">
    <h1>Create New Book</h1>
    <div>
        <label for="image">Image:</label>
        <input type="text"
               id="image"
               name="image"
               th:field="*{image}" required>
    </div>
    <div>
        <label for="authorId">Author:</label>
        <select id="authorId" name="authorId">
            <option value="">Select Author</option>
            <option th:each="author : ${authors}"
                    th:value="${author.id}"
                    th:text="${author.firstName + ' ' + author.lastName}">
            </option>
        </select>
    </div>
    <div>
        <label for="name">Name:</label>
        <input type="text"
               id="name"
               name="name"
               th:field="*{name}" required>
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="number"
               id="price"
               name="price"
               th:field="*{price}"
               required>
    </div>
    <div>
        <label for="genre">Genre:</label>
        <select id="genre" name="genre">
            <option th:each="genre : ${genres}"
                    th:value="${genre}"
                    th:text="${genre.getValue()}">
            </option>
        </select>
    </div>
    <div>
        <label for="amount">Amount:</label>
        <input type="number"
               id="amount"
               name="amount"
               th:field="*{amount}">
    </div>
    <div>
        <label for="description">Description:</label>
        <textarea th:type="text"
                  id="description"
                  name="description"
                  th:field="*{description}"></textarea>
    </div>
    <button type="submit">Create Book</button>
</form>
</body>
</html>