<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuyBook</title>
</head>
<body>
<div th:include="navbar/navbar :: navbar"></div>
<br><br>
<h1>My Profile</h1>
<form th:action="@{/members/save}" method="post" th:object="${loggedInMember}">
    <div>
        <label for="userId"></label>
        <input hidden="hidden"
               type="number"
               id="userId"
               name="userId"
               th:value="${loggedInMember.user.id}">
    </div>
    <div>
        <label for="username">Username:</label>
        <input type="text"
               id="username"
               name="username"
               th:value="${loggedInMember.user.username}" readonly><br><br>
    </div>
    <div>
        <label for="memberNumber">Member number:</label>
        <input type="number"
               id="memberNumber"
               name="memberNumber"
               th:value="${loggedInMember.memberNumber}" readonly><br><br>
    </div>
    <div>
        <label for="discount">Discount:</label>
        <input type="number"
               id="discount"
               name="discount"
               th:value="${loggedInMember.discount}" readonly><br><br>
    </div>
    <div>
        <label for="type">Member type:</label>
        <select id="type" name="type">
            <option th:each="type : ${types}"
                    th:value="${type}"
                    th:selected="${loggedInMember.type == type}"
                    th:text="${type.getValue()}">
            </option>
        </select>
    </div>
    <div>
        <button type="submit">Update</button>
    </div>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous">
</script>
</body>
</html>