<html
        xmlns:th="http://thymeleaf.org"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thymeleaf.org " lang="">
<head>
    <title>Login</title>
</head>
<section>
    <style>
        .main {
            padding: 0 10px;
        }
    </style>
    <div class="main">
        <div class="col-md-6 col-sm-12">
            <div th:if="${param.error}" class="alert alert-success">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
            <div class="login-form">
                <form method="post" th:action="@{/login}">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input id="username"
                               type="text"
                               class="form-control"
                               placeholder="Username"
                               name="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password"
                               type="password"
                               class="form-control"
                               placeholder="Password"
                               name="password">
                    </div>
                    <button onclick="redirectToRegister()" type="button" class="btn btn-black">
                        Don't have an account? Register here.
                    </button>
                    <button type="submit" value="Login" class="btn btn-secondary">Login</button>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    function redirectToRegister() {
        window.location.href = "/online-library/register";
    }
</script>
</html>